body {
  font-family: "Alegreya Sans", "Helvetia Neue", "Liberation Sans", "Georgia", "Helvetica", sans;
  font-size: 16px;
  color: #000;
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6, #description {
  font-family: "Exo", "Helvetica Neue", "Liberation Sans", "Georgia", "Helvetica", sans;
}

#header {
  background-color: #fafafa;
  padding: 0.5rem;
  border-bottom: 2px solid #ccc;
  display: flex;
  flex-flow: row nowrap;
}

#header > a {
  width: 2rem;
  height: 2rem;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
  text-align: center;
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 2rem;
}

#description {
  padding: 1rem;
  margin: 0;
  text-align: center;
  background-color: #f3f3f3;
  font-size: 1.2rem;
}

#friends {
  background-color: #fff;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 80vh;
}

.item {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 200px;
  background-color: #f1f1f1;
}

.item h2 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.25rem;
}

.contributions {
  font-size: 0.75rem;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-links {
  text-align: center;
  margin: 1rem 0 0 0;
  padding: 0;
}

.social-links a {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}

.social-links span {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#footer {
  text-align: center;
  font-size: 0.75rem;
  background-color: #f1f1f1;
  color: #333;
  padding: 0.25rem 0;
  margin: 0;
}

#footer a {
  color: #333;
  text-decoration: none;
}